@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-text: #FAFAFA;
  --color-main-bg: #1E1E22;
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.header-gradient {
  background: #1E1E22;
}

.lineup-swiper .swiper-button-prev,
.lineup-swiper .swiper-button-next,
.festival-swiper .swiper-button-prev,
.festival-swiper .swiper-button-next,
.inlive-swiper .swiper-button-prev,
.inlive-swiper .swiper-button-next {
  --swiper-navigation-color: #E96744;
  color: #E96744 !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lineup-swiper:hover .swiper-button-prev,
.lineup-swiper:hover .swiper-button-next,
.festival-swiper:hover .swiper-button-prev,
.festival-swiper:hover .swiper-button-next,
.inlive-swiper:hover .swiper-button-prev,
.inlive-swiper:hover .swiper-button-next {
  opacity: 1;
}

.lineup-swiper .swiper-button-prev:after,
.lineup-swiper .swiper-button-next:after,
.festival-swiper .swiper-button-prev:after,
.festival-swiper .swiper-button-next:after,
.inlive-swiper .swiper-button-prev:after,
.inlive-swiper .swiper-button-next:after,
.banner-swiper .swiper-button-prev:after,
.banner-swiper .swiper-button-next:after {
  font-size: 24px;
  font-weight: bold;
}

.banner-swiper .swiper-button-prev,
.banner-swiper .swiper-button-next {
  --swiper-navigation-color: #E96744;
}

.banner-pagination {
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-color: #E96744;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-color: #E96744;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.banner-pagination .swiper-pagination-bullet {
  margin: 0 !important;
}

.banner-pagination .swiper-pagination-bullet-active {
  --swiper-pagination-bullet-size: 12px;
}
