@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-text: #FAFAFA;
  --color-main-bg: #1E1E22;
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.header-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(180deg, #2B2B2E 0%, rgba(43, 43, 46, 0.60) 54.69%, rgba(43, 43, 46, 0.00) 100%);
}

/* Swiper Navigation Arrows */
.lineup-swiper .swiper-button-prev,
.lineup-swiper .swiper-button-next {
  --swiper-navigation-color: #E96744 !important;
  color: #E96744 !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
}

.lineup-swiper:hover .swiper-button-prev,
.lineup-swiper:hover .swiper-button-next {
  opacity: 1 !important;
}

.lineup-swiper .swiper-button-prev:after,
.lineup-swiper .swiper-button-next:after {
  font-size: 24px !important;
  font-weight: bold !important;
}
